/* Скролл-бар */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #f50;
	border-radius: 16px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #1a191f;
	background-color: #1a191f;
}

/* Основные стили */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	box-sizing: border-box;
	background-color: #1a191f;
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Шапка */
.header_content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}

.header_logo {
	font-size: 40px;
	text-decoration-color: #f50;
	color: #ffffff;
	letter-spacing: 0.5px;
	transition: transform 0.3s;
	font-family: 'Alumni Sans', sans-serif;
	padding: 16px;
}

/* Блок с информацией */
.about_card {
	background-color: #1a191f;
	margin: auto;
	border-radius: 15px;
	box-shadow: 0 0 20px 0 #af94947c;
	color: #ffffff;
	font-size: 13px;
	max-width: 800px;
}

.about-info {
	padding: 5px;
	letter-spacing: 0.5px;
}

.info {
	margin: 15px;
}

.about-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 20px;
}

p {
	font-size: 13px;
}

ul {
	padding: 0 20px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	font-family: 'Alumni Sans', sans-serif;
	margin-top: auto;
}

.copyright {
	font-size: 16px;
	color: #fff;
}

/* Медиа-запросы */
@media (max-width: 770px) {
	.about_card {
		font-size: 0.8rem;
		max-height: 90%;
		max-width: 90%;
	}

	h2 {
		margin: 0;
		padding: 0;
		font-size: 1rem;
	}
}