/* Сброс стилей */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #f50;
	border-radius: 16px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #1a191f;
	background-color: #1a191f;
}

/* Основные стили */
body {
	background-color: #1a191f;
	font-family: "Alumni Sans", sans-serif;
	letter-spacing: 0.5px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* Шапка */
.header_content {
	display: flex;
	padding: 16px;
	align-items: center;
	justify-content: space-between;
	height: 60px;
}

.header_logo {
	font-size: 54px;
	text-decoration-color: #f50;
	color: #ffffff;
	letter-spacing: 0.5px;
	animation: breath 2s ease-in-out infinite;
}

@keyframes breath {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}

.header_search {
	padding: 8px;
	border: 2px solid #f50;
	border-radius: 15px;
	outline: none;
	font-size: 16px;
	font-family: "Alumni Sans", sans-serif;
	letter-spacing: 0.5px;
	transition: transform 0.3s;
	background-color: #ffffff;
}

.header_search:hover {
	transform: scale(1.1);
}

/* Карточки фильмов */
.movies {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: -20px;
}

.movie {
	width: 240px;
	margin: 10px;
	position: relative;
	transition: transform 0.3s;
}

.movie:hover {
	transform: scale(1.02);
}

.movie_cover-inner {
	position: relative;
	height: 360px;
}

.movie_cover {
	max-width: 100%;
	height: 100%;
	border-radius: 15px;
}

.movie_cover-hover {
	background-color: #000000;
	opacity: 0.1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	height: 100%;
	z-index: 1;
	border-radius: 15px;
}

.movie_cover-hover:hover {
	background-color: gray;
	cursor: pointer;
}

.movie_info {
	padding: 10px 0px;
}

.movie_title {
	font-size: 20px;
	color: #ffffff;
}

.movie_category {
	font-size: 16px;
	color: gold;
}

.movie_average {
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1a191f;
	color: #ffffff;
	font-size: 14px;
}

.movie_average-green {
	border: 1px solid green;
}

.movie_average-orange {
	border: 1px solid orange;
}

.movie_average-red {
	border: 1px solid red;
}

/* Модальное окно */
.modal {
	display: none;
	align-items: flex-start;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #00000080;
	overflow: hidden;
	animation: fade-in 0.4s;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.modal-show {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
}

.modal_card {
	display: flex;
	justify-content: center;
	position: relative;
	background-color: #1a191f;
	max-width: 800px;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 20px 0 #af94947c;
	color: #ffffff;
}

.modal_button-close {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 5px;
	font-size: 24px;
	cursor: pointer;
	color: #f50;
}

.modal_button-close:hover {
	color: #ff550081;
}

.modal_movie-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal_movie-backdrop {
	width: 100%;
	border-radius: 15px;
}

.modal_movie-info {
	padding: 20px 0px;
}

.modal_movie-info ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.modal_movie-info li {
	padding: 5px 0;
	margin-left: 20px;
}

@media (max-width: 600px) {
	.modal_card {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-height: 844px;
	}

	.modal_movie-poster {
		display: flex;
		order: -1;
		width: 100%;
		max-width: 300px;
	}
}

.modal_movie-poster {
	flex: 0 0 300px;
	padding: 15px;
}

.modal_movie-site {
	color: #f50;
	transition: transform 0.3s;
}

.modal_movie-site:hover {
	color: #ff550081;
	transform: scale(1.1);
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.modal_movie-title {
	font-size: 32px;
	padding: 24px;
}

.modal_movie-release-year {
	font-size: 24px;
}

/* Кнопка подгрузки контента */
.load-more-btn {
	/* display: none !important; */
	cursor: pointer;
	justify-content: center;
	align-items: center;
	padding: 8px;
	border: 2px solid #f50;
	border-radius: 15px;
	font-size: 16px;
	font-family: "Alumni Sans", sans-serif;
	letter-spacing: 0.5px;
	color: #ffffff;
	transition: transform 0.3s;
	background-color: #1a191f;
	margin: 20px auto;
}

.load-more-btn:hover {
	transform: scale(1.1);
}