/* Сброс стилей */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ul li {
	list-style: none;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #ff5500ad;
	border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
	background: #f50;
}

/* Основные стили */
body {
	background-color: #1a191f;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}

/* Шапка */
.header {
	display: flex;
	max-width: 1200px;
	padding: 15px;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	font-family: 'Alumni Sans', sans-serif;
	position: sticky;
	top: 0;
	background-color: #1a191f;
	z-index: 2;
	overflow: auto;
}

.header_logo {
	display: flex;
	font-size: 40px;
	text-decoration-color: #f50;
	color: #ffffff;
	transition: all 0.3s;

	&:hover {
		opacity: 0.8
	}
}

.header_info {
	display: flex;
	align-items: center;
}

.header_about {
	padding: 15px;
	transition: all .3s;

	&:hover {
		opacity: 0.8
	}
}

.header_search {
	padding: 8px;
	border: 2px solid #f50;
	border-radius: 15px;
	outline: none;
	font-size: 16px;
	font-family: "Alumni Sans", sans-serif;
	letter-spacing: 0.5px;
	transition: all 0.3s;
	background-color: #ffffff;
	align-items: flex-end;
	justify-content: end;

	&:hover {
		opacity: 0.8
	}
}

/* Карточки фильмов */
.movies {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.movie {
	width: 240px;
	margin: 10px;
	position: relative;
	transition: transform 0.3s;
}

.movie:hover {
	transform: scale(1.02);
}

.movie_cover-inner {
	position: relative;
	height: 360px;
}

.movie_cover {
	max-width: 100%;
	height: 100%;
	border-radius: 15px;
}

.movie_cover-hover {
	background-color: #000000;
	opacity: 0.1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	height: 100%;
	z-index: 1;
	border-radius: 15px;
}

.movie_cover-hover:hover {
	background-color: gray;
	cursor: pointer;
}

.movie_info {
	padding: 5px 0px;
}

.movie_title {
	font-size: 20px;
	color: #ffffff;
	text-align: center;
}

.movie-year-status {
	font-size: 16px;
	color: #ffffff;
	text-align: center;
}

.movie_category {
	font-size: 16px;
	color: gold;
	text-align: center;
}

.movie_average {
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1a191f;
	color: #ffffff;
	font-size: 14px;
}

.movie_average-green {
	border: 1px solid green;
}

.movie_average-orange {
	border: 1px solid orange;
}

.movie_average-red {
	border: 1px solid red;
}

/* Модальное окно */
.modal {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #00000080;
	animation: fade-in 0.4s;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.modal-show {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
}

.modal_card {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	background-color: #1a191f;
	max-width: 800px;
	padding: 35px;
	border-radius: 15px;
	box-shadow: 0 0 20px 0 #af94947c;
	color: #ffffff;
}

.modal_button-close {
	position: relative;
	display: flex;
	top: -10px;
	align-self: end;
	right: -20px;
	cursor: pointer;
	color: #f50;
}

.modal_button-close:hover {
	color: #ff550081;
}

.modal_movie-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal__content--wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal_movie-backdrop {
	width: 100%;
	border-radius: 15px;
}

.modal_movie-info ul {
	list-style: none;
}

.modal_movie-info li {
	padding: 5px 15px 0 0;
	margin-left: auto;
}

.modal_movie-poster {
	flex: 0 0 320px;
	padding-left: 20px;
}

.modal_movie-site {
	color: #f50;
	transition: transform 0.3s;
}

.modal_movie-site:hover {
	color: #ff550081;
	transform: scale(1.1);
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.modal_movie-title {
	font-size: 1.6rem;
	justify-content: center;
	align-items: center;
}

.modal_movie-release-year {
	font-size: 24px;
	justify-content: center;
	align-items: center;
}

/* Кнопка подгрузки контента */
.load-more-btn {
	display: block;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	padding: 8px;
	border: 2px solid #ff5500ab;
	border-radius: 15px;
	font-size: 16px;
	font-family: "Alumni Sans", sans-serif;
	letter-spacing: 0.5px;
	color: #ffffff79;
	transition: all 0.3s;
	background-color: #1a191f;
	margin: 20px auto;

	&:hover {
		border: 2px solid #f50;
		color: #fff;
	}
}

/* Кнопка "Наверх" */
.btn-up {
	position: fixed;
	bottom: 15px;
	right: 15px;
	padding: 5px;
	font-size: 24px;
	cursor: pointer;
	color: #ff5500ab;
	background: transparent;
	border: 0;
	animation: btnUp 0.5s forwards;
}

@keyframes btnUp {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateY(0);
	}
}

.btn-up:hover {
	color: #f50;
}

.btn-up_hide {
	display: none;
}

/* Подвал */
.footer {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
	align-items: center;
	justify-content: space-between;
	height: 60px;

	.copyright {
		font-size: 16px;
		color: #fff;
		font-family: 'Alumni Sans', sans-serif;
	}
}


/* Медиа-запросы */
@media (max-width: 768px) {
	::-webkit-scrollbar {
		display: none;
		;
	}

	body.stop-scrolling {
		overflow: hidden;
		height: 100%;
	}

	.modal_card {
		flex-direction: column;
		max-height: 90%;
		max-width: 90%;
	}

	.modal_movie-title {
		font-size: 1.2rem;
	}

	.modal_movie-release-year {
		font-size: 1rem;
	}

	.modal_movie-info {
		font-size: 0.9rem;
	}

	.modal_movie-poster {
		max-width: 220px;
		padding: 0;
	}

	.modal_button-close {
		top: -15px;
		padding: 5px;
		right: -25px;
	}

	.load-more-btn {
		border: 2px solid #f50;
		color: #fff;
	}
}

@media (max-width: 425px) {
	.modal__content--wrapper {
		overflow: auto;
		display: grid;
	}

	.modal_movie-poster {
		order: -1;
		justify-self: center;
	}

	.modal_button-close {
		font-size: 20px;
	}
}